.about-us-page {
  background-color: var(--color-gray-3);
  padding-top: 72px;

  @media only screen and (max-width: 1023px) {
    padding-top: 48px;
  }

  &__city {
    img {
      width: 100%;
      object-fit: cover;
      height: 50vh;
    }
  }

  &__header {
    height: calc(100vh - 128px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-gray-10);

    @media only screen and (max-width: 1023px) {
      height: calc(100vh - 109px);
    }

    h1 {
      font-weight: 900;
    }

    h1,
    h5,
    button {
      color: var(--color-gray-1);
      z-index: 2;
      text-align: center;
    }

    h1 {
      margin-bottom: 32px;
    }

    h5 {
      margin-bottom: 32px;
    }

    img {
      position: absolute;
      opacity: 0.8;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }
}
