.reset-password-modal {
  padding: 16px;

  &__image {
    max-height: 415px;
  }

  &__header {
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
    }
  }

  &__form {
    margin-top: 24px;
  }

  &__footer {
    text-align: center;
  }
}
