.log-in-modal {
  padding: 16px;
  flex: 1;

  &__image {
    max-height: 400px;
  }

  &__password-container {
    position: relative;

    .ant-input {
      padding-right: 160px;
    }

    &--forgot-password {
      position: absolute;
      top: 31px;
      right: 10px;
      z-index: 1000;
    }
  }

  &__social-media-button {
    height: 40px;
    width: 100%;
    border: 1px solid var(--color-gray-10);
    background-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      background-color: var(--color-gray-10);
      color: var(--color-gray-1);
    }
  }

  &__header {
    img {
      width: 24px;
      margin-right: 10px;
    }
  }

  p {
    color: var(--color-gray-8);
    margin-top: 8px;
    margin-bottom: 24px;
  }

  &__footer {
    text-align: center;
  }
}
