.filters-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), inset 0px 1px 0px #bfbfbf,
    inset 0px -1px 0px #bfbfbf;
  height: 48px;
  background-color: var(--color-gray-1);

  &__filter-popup {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 10px;
    width: 100%;

    &--location-select {
      margin: 10px 0 10px;
    }

    &--price {
      &-inputs {
        margin-bottom: 10px;
      }

      .ant-radio-group {
        margin-bottom: 10px;
      }

      .ant-checkbox-wrapper {
        margin-bottom: 5px;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    width: 100%;
    padding: 0 24px 0;
    font-size: 14px;
  }

  &__label {
    margin-right: 16px;
  }
}
