.properties-lists-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-3);
  padding-top: 72px;

  &__mobile-actions {
    position: fixed;
    top: 48px;
    z-index: 1000;

    @media only screen and (min-width: 1024px) {
      display: none !important;
    }
  }

  @media only screen and (max-width: 1023px) {
    padding-top: 96px;
  }

  &__list {
    max-width: 760px;
    width: 100%;
    box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
      0px 2px 4px rgba(50, 50, 71, 0.06);
    border-radius: 8px;
    background-color: var(--color-gray-1);
    padding: 24px;
    margin-bottom: 32px;

    @media only screen and (max-width: 1023px) {
      padding: 16px;
      margin-bottom: 24px;
    }

    &--pagination {
      text-align: center;
    }

    &--amount {
      background-color: var(--color-blue-1);
      margin-bottom: 32px;
      padding: 12px 16px;

      h6 {
        color: var(--color-magenta-7);
      }
    }

    &--card {
      border-top: 2px solid var(--color-gray-4);

      &:last-child {
        border-bottom: 2px solid var(--color-gray-4);
      }
    }
  }

  &__header {
    position: relative;
    height: 344px;
    width: 100%;
    margin-bottom: 39px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 1023px) {
      margin-bottom: 24px;
      padding: 0 16px;
    }

    &--content {
      text-align: center;
      z-index: 10;

      h1,
      h5 {
        color: var(--color-gray-1);
      }
    }

    &--background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      object-fit: cover;
    }
  }
}
