.property-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-3);
  padding-top: 144px;
  position: relative;

  @media only screen and (max-width: 1023px) {
    padding-top: 106px;
  }

  &__floating-button {
    @media only screen and (min-width: 1200px) {
      display: none !important;
    }
  }


  &__newsletter-banner {
    position: absolute;
    top: 72px;

    @media only screen and (max-width: 1023px) {
      display: none !important;
    }
  }

  &__mobile-actions {
    position: fixed;
    top: 48px;
    z-index: 1000;

    @media only screen and (min-width: 1023px) {
      display: none !important;
    }
  }

  &__details {
    display: flex;
    column-gap: 24px;

    @media only screen and (max-width: 1023px) {
      width: 100vw;
    }

    &--consult-form {
      background-color: var(--color-gray-1);
      box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
        0px 2px 4px rgba(50, 50, 71, 0.06);
      border-radius: 8px;
    }

    &--consult-and-likes {
      width: 368px;
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      @media only screen and (max-width: 1199px) {
        display: none;
      }
    }

    &--container {
      width: 760px;
      padding-bottom: 24px;      
      display: flex;
      flex-direction: column;

      > * {
        margin-bottom: 16px;
      }

      @media only screen and (max-width: 1023px) {
        width: 100%;
      }
    }

    &--actions {
      @media only screen and (min-width: 1200px) {
        display: none;
      }
    }

    &--price-and-messures {
      width: 100%;
      display: flex;

      @media only screen and (max-width: 1023px) {
        flex-direction: column;
        row-gap: 16px;
      }
    }

    &--distribution-and-amenities {
      width: 100%;
      display: flex;

      @media only screen and (max-width: 1023px) {
        flex-direction: column;
        row-gap: 16px;
      }
    }

    &--services {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;
      row-gap: 16px;

      @media only screen and (max-width: 1023px) {
        grid-template-columns: 1fr;
      }
    }

    &--distribution {
      h5 {
        color: var(--color-blue-7);
      }
    }

    &--amenities {
      h5 {
        color: var(--color-magenta-7);
      }
    }

    &--price,
    &--distribution {
      flex: 1;
      margin-right: 16px;

      @media only screen and (max-width: 1023px) {
        margin-right: 0;
      }
    }

    &--messures,
    &--amenities {
      flex: 1;
    }
  }
}
