.no-properties {
  &__header {
    img {
      width: 24px;
      margin-right: 10px;
    }
    margin-bottom: 32px;
  }

  &__actions {
    margin-top: 16px;

    &--clear-filters {
      background-color: var(--color-gray-1);
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    width: 100%;

    h3 {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 32px;
      color: var(--color-gray-8);
    }

    &--keep-searching-button {
      max-width: 512px;
      width: 100%;
      text-align: center;

      button {
        width: 100%;
      }
    }
  }
}
