.sort-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 214px;

  h5 {
    margin-bottom: 16px;
  }

  &__option {
    height: 32px;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.3s ease-in;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: var(--color-blue-1);
    }

    &.selected {
      background-color: var(--color-blue-1);
      color: var(--color-blue-8);
    }
  }
}
