.log-out-modal {
  &__content {
    padding: 24px 16px;
    text-align: center;

    h3 {
      font-weight: 700;
      margin-bottom: 8px;
    }

    p {
      color: var(--color-gray-8);
      margin-bottom: 16px;
    }

    &--actions {
      display: flex;
      > :first-child {
        margin-right: 8px;
      }

      button {
        flex: 1;
      }
    }
  }
}
