.banner {
  padding: 12px 24px;
  width: 100%;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 1023px) {
    padding: 12px 16px;
  }

  &__container {
    padding: 0 24px 0;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1023px) {
      padding: 0;
    }
  }

  h5 {
    color: var(--color-gray-1);
    display: flex;
    align-items: center;
    font-weight: normal;

    b {
      margin-right: 5px;
    }

    @media only screen and (max-width: 1023px) {
      display: none;
    }
  }

  p {
    display: none;

    @media only screen and (max-width: 1023px) {
      display: block;
      color: var(--color-gray-1);
    }
  }

  &__button {
    border: none;
    cursor: pointer;
    height: 32px;
    border-radius: 4px;
    padding: 0 8px;
    color: var(--color-gray-1);
    font-weight: 700;

    &:focus {
      outline: none;
    }
  }
}
