.profile-password-change {
  padding: 24px 16px;
  background-color: var(--color-gray-1);

  &__title {
    padding-bottom: 16px;
    border-bottom: 2px solid var(--color-gray-5);
    margin-bottom: 16px;

    h5 {
      font-weight: 700;
    }
  }

  &__submit {
    width: 100%;
  }
}
