.property-details-mobile-floating-actions {
  justify-content: space-between;
  padding: 8px 16px;
  position: sticky;
  bottom: 0;
  display: none;
  width: 100%;
  background-color: var(--color-gray-1);
  align-items: center;
  z-index: 900;

  -webkit-box-shadow: 1px -5px 41px -21px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 1px -5px 41px -21px rgba(0, 0, 0, 0.34);
  box-shadow: 1px -5px 41px -21px rgba(0, 0, 0, 0.34);

  @media only screen and (max-width: 1023px) {
    display: flex;
  }
}
