.profile-likes {
  &__header {
    background-color: var(--color-blue-6);
    padding: 16px;
    border-radius: 8px 8px 0 0;
    color: var(--color-gray-1);

    @media only screen and (max-width: 1023px) {
      border-radius: 0;
    }

    h5 {
      color: var(--color-gray-1);
      font-weight: 700;
    }

    p {
      font-weight: 700;
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: var(--color-blue-1);

    &--title {
      font-weight: 700;
    }

    &--sort {
      cursor: pointer;
      color: var(--color-blue-7);
    }
  }

  &__liked-properties {
    padding: 8px 16px;
    background-color: var(--color-gray-1);
    border-radius: 0 0 8px 8px;

    @media only screen and (max-width: 1023px) {
      border-radius: 0;
    }

    &--show-more {
      width: 100%;
      margin-top: 16px;
    }

    &--property-card {
      margin-bottom: 8px;
    }
  }
}
