.modal-with-image {
  width: 840px !important;
  
  &__container {
    display: flex;

    @media only screen and (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__header-mobile {
    display: none;

    @media only screen and (max-width: 1023px) {
      height: 56px;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 16px;
    }
  }

  &__header-desktop {
    height: 56px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 16px 0 16px;

    @media only screen and (max-width: 1023px) {
      display: none;
    }
  }

  &__left {
    flex: 1;

    &--image {
      border-radius: 8px 0 0 8px;
      height: 100%;
      object-fit: cover;
      max-width: 100%;

      @media only screen and (max-width: 1023px) {
        border-radius: 0;
        height: 210px;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
