.assess-how-to {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 12px;
  background-color: var(--color-gray-1);

  h3 {
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;

    b {
      color: var(--color-blue-7);
    }
  }

  @media only screen and (max-width: 1023px) {
    justify-self: center;
  }

  &__how-to {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    width: 100%;
    column-gap: 24px;
    align-items: center;
    justify-content: center;
    row-gap: 24px;

    @media only screen and (max-width: 1199px) and (min-width: 1024px) {
      :last-child {
        grid-column: 1 / -1;
      }
    }

    @media only screen and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
      align-items: flex-start;
      max-width: 1152px;
    }

    @media only screen and (max-width: 1023px) {
      grid-template-columns: minmax(0, 1fr);
    }

    &--image {
      justify-self: end;

      @media only screen and (max-width: 1023px) {
        justify-self: center;
      }
    }
  }

  &__tag {
    text-transform: uppercase;
    color: var(--color-blue-7);
    font-weight: 500;
    padding: 8px 16px;
    background-color: var(--color-blue-1);
    border-radius: 4px;
    margin-bottom: 16px;
  }

  &__description {
    text-align: center;
    font-weight: 500;
    color: var(--color-gray-8);
    margin-bottom: 48px;
  }

  &__proceed {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @media only screen and (max-width: 1200px) {
      align-items: center;
    }

    @media only screen and (max-width: 1024px) {
      align-items: flex-start;
    }

    h3 {
      color: var(--color-blue-7);
      font-weight: 500;
      text-align: left;
    }

    h5 {
      margin-bottom: 16px;
      color: var(--color-gray-8);
    }

    button {
      text-transform: uppercase;

      @media only screen and (max-width: 1024px) {
        align-self: center;
      }
    }
  }

  &__flow {
    display: flex;
    flex-direction: column;
    align-self: center;

    &--light-blue-bar {
      height: 54px;
      width: 4px;
      margin-left: 22px;
      margin-right: 24px;
      background-color: var(--color-blue-4);
    }

    &--blue-bar {
      height: 54px;
      width: 4px;
      margin-left: 22px;
      margin-right: 24px;
      background-color: var(--color-blue-7);
    }

    &--item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &---step {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
      }

      h3 {
        margin-bottom: 8px;

        img {
          margin-right: 24px;
        }
      }
    }
  }
}
