.newsletter-modal {
  padding: 16px;

  &__image {
    max-height: 388px;
  }

  &__header {
    img {
      width: 24px;
      margin-right: 10px;
    }
  }

  p {
    font-weight: 500;
    color: var(--color-gray-8);
    margin-top: 8px;
  }
}
