.about-us-employee-card {
  padding: 24px;

  &__picture {
    height: 72px;
    width: 72px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 8px;
  }

  &__name {
    font-weight: 700;
    color: var(--color-blue-7);
  }

  &__role {
    margin-bottom: 8px;
  }

  &__actions {
    display: flex;

    a {
      flex: 1;

      &:first-child {
        margin-right: 16px;
      }

      button {
        width: 100%;
      }
    }
  }
}
