.mobile-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: var(--color-gray-1);
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 12px 16px;
  transition: all 0.3s;

  &__shadow {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  }

  &__home {
    background-color: transparent;
    box-shadow: none;

    .mobile-nav-bar__buttons--search {
      display: none;
    }

    .mobile-nav-bar__buttons--menu {
      svg {
        fill: white !important;
      }
    }
  }

  &.open-search-input {
    padding: 4px;
  }

  @media only screen and (min-width: 1024px) {
    display: none !important;
  }

  &__logo {
    img {
      height: 32px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    :not(:last-child) {
      margin-right: 8px;
    }
  }

  &__search {
    flex: 1;

    &--inputs {
      height: 40px;
      background-color: var(--color-gray-3);
      border-radius: 8px;
      border: none;

      input {
        &:focus {
          border: none !important;
          box-shadow: none !important;
        }
        height: 100%;
        border: none;
        background-color: var(--color-gray-3);
        color: var(--color-gray-8);
        font-size: 16px;
      }
    }
  }
}
