.property-details-age-bar {
  padding: 16px 50px;
  background-color: var(--color-gray-1);
  border-radius: 4px;

  &__date {
    text-align: center;
    color: var(--color-gray-7);
    font-weight: 500;
  }

  h5 {
    font-weight: 700;
    margin-bottom: 27px;
    text-align: center;
    color: var(--color-blue-7);
  }

  p {
    &.completed {
      color: var(--color-blue-7);
    }
  }

  div {
    &.completed {
      background-color: var(--color-blue-7);
    }
  }

  &__dot {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--color-gray-7);
    margin: 0 16px 0;
    position: relative;

    p {
      color: var(--color-gray-7);
      font-weight: 700;
      position: absolute;
      bottom: -31px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  &__line {
    flex: 1;
    height: 2px;
    width: 100px;
    background-color: var(--color-gray-7);
  }

  &__age-bar {
    &--bar {
      display: flex;
      align-items: center;
      margin-bottom: 60px;
    }
  }
}
