.newsletter-form {
  &__button {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
      0px 2px 4px rgba(50, 50, 71, 0.06);
    background-color: var(--color-magenta-6);
    color: var(--color-gray-1);
    font-weight: 500;
    margin-bottom: 16px;

    &:focus {
      outline: none;
    }
  }
}
