.assess-marketing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 12px;
  background-color: var(--color-gray-1);

  h3 {
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;

    b {
      color: var(--color-blue-7);
    }
  }

  &__tag {
    text-transform: uppercase;
    color: var(--color-blue-7);
    font-weight: 500;
    padding: 8px 16px;
    background-color: var(--color-blue-1);
    border-radius: 4px;
    margin-bottom: 16px;
  }

  &__description {
    text-align: center;
    font-weight: 500;
    color: var(--color-gray-8);
    margin-bottom: 48px;
  }

  &__flow-contaier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    max-width: 760px;
    width: 100%;
    margin-bottom: 52px;

    @media only screen and (max-width: 1199px) and (min-width: 1024px) {
      :first-child {
        grid-column: 1 / -1;
      }
    }

    @media only screen and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1152px;
    }

    @media only screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }

  &__flow {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
      0px 8px 16px rgba(50, 50, 71, 0.06);
    border-radius: 8px;
    text-align: center;

    img {
      margin-bottom: 12px;
    }

    h3 {
      font-weight: 500;
      margin-bottom: 8px;
    }

    h6 {
      color: var(--color-gray-8);
      font-weight: 500;
    }
  }
}
