import React from "react";
import { {{ pascalCase componentName }}Props } from './types';
import styles from "./{{pascalCase componentName}}.module.scss";


const {{ pascalCase componentName }}: React.FC<{{ pascalCase componentName }}Props> = () => {
  return (
    <div
      className={styles['{{ dashCase componentName }}']}
    >
      {{ pascalCase componentName }}
    </div>
  )
}

export default {{ pascalCase componentName }};