.share-buttons {
  display: flex;
  width: 100%;
  justify-content: center;

  &__button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--color-gray-3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-gray-3);
    transition: all 0.3s ease-in;
    margin-right: 8px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: var(--color-blue-1);
      border: 1px solid var(--color-blue-7);
    }

    &:focus {
      outline: none;
    }
  }
}
