.properties-list-card {
  display: flex;
  padding: 32px 0;
  width: 100%;
  align-items: center;
  min-height: 272px;
  height: 100%;

  @media only screen and (max-width: 1023px) {
    min-height: 520px;
  }

  @media only screen and (max-width: 1023px) {
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;

    @media only screen and (max-width: 1023px) {
      flex: 1;
    }

    &--actions {
      display: flex;
      justify-content: space-between;
    }

    h3 {
      margin-bottom: 8px;
      font-weight: 700;
    }

    p {
      font-weight: 500;
      margin-bottom: 8px;
    }
  }

  &__image {
    margin-right: 24px;
    @media only screen and (max-width: 1023px) {
      margin-right: 0;
      margin-bottom: 24px;
    }

    img {
      height: 208px;
      width: 306px;
      object-fit: cover;

      @media only screen and (max-width: 1023px) {
        width: 100%;
      }
    }
  }
}
