.property-details-messures {
  padding: 16px;
  background-color: var(--color-gray-1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  &__blue {
    color: var(--color-blue-7);
  }
}
