.assess-numbers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 12px;
  background-color: var(--color-gray-1);

  &__mobile {
    width: 100%;

    @media only screen and (min-width: 1025px) {
      display: none;
    }

    &--image {
      height: 200px;
      object-fit: cover;
      border-radius: 16px;
      width: 100%;
      margin-bottom: 48px;
    }

    &--check-list {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 32px;
      column-gap: 24px;

      h6 {
        margin-left: 38px;
        margin-bottom: 0 !important;
      }
      h3 {
        text-align: left;
        margin-bottom: 0 !important;

        img {
          margin-right: 8px;
        }
      }
    }

    &--numbers {
      margin-bottom: 48px;

      h3 {
        b {
          font-weight: 700;
          color: var(--color-magenta-7) !important;
        }

        margin-bottom: 16px;
      }

      h6 {
        margin-bottom: 48px;
        color: var(--color-gray-8);
        text-align: center;
      }
    }
  }

  &__desktop {
    width: 100%;

    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }

  &__tag {
    text-transform: uppercase;
    color: var(--color-blue-7);
    font-weight: 500;
    padding: 8px 16px;
    background-color: var(--color-blue-1);
    border-radius: 4px;
    margin-bottom: 16px;
  }

  &__description {
    text-align: center;
    font-weight: 500;
    color: var(--color-gray-8);
    margin-bottom: 48px;
  }

  h3 {
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;

    b {
      color: var(--color-blue-7);
    }
  }

  &__numbers-container {
    position: relative;
    height: 670px;
    width: 100%;
  }

  &__numbers {
    padding: 48px 32px;
    position: absolute;
    box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08),
      0px 24px 32px rgba(50, 50, 71, 0.08);
    border-radius: 24px;
    background-color: var(--color-gray-1);
    top: 250px;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 580px;

    &--check-list {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 32px;
      column-gap: 24px;

      h6 {
        margin-left: 38px;
      }
      h3 {
        text-align: left;
        margin-bottom: 0 !important;

        img {
          margin-right: 8px;
        }
      }
    }

    h3 {
      b {
        font-weight: 700;
        color: var(--color-magenta-7);
      }

      margin-bottom: 16px;
    }

    h6 {
      color: var(--color-gray-8);
    }
  }

  &__numbers-background {
    width: 720px;
    height: 500px;
    object-fit: cover;
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 20%;
  }
}
