.filter-popup {
  background-color: var(--color-gray-3);
  height: 32px;
  border: none;
  border-radius: 4px;
  padding: 4px 8px 4px;
  transition: all 0.3s ease-in;
  cursor: pointer;
  white-space: nowrap;
  
  > span {
    font-size: 10px;
  }

  &:hover {
    background-color: var(--color-blue-1);
    color: var(--color-blue-7);
  }

  &:focus {
    outline: none;
  }

  &.highlighted {
    background-color: var(--color-blue-7);
    color: var(--color-gray-1);
  }

  &__content {
    min-width: 340px;
    font-weight: 500;

    &--title {
      text-align: center;
      padding-bottom: 16px;
      border-bottom: 2px var(--color-gray-5) solid;
    }

    &--options {
      padding: 16px 10px 16px;
      border-bottom: 2px var(--color-gray-5) solid;
    }

    &--actions {
      padding-top: 16px;
      justify-content: space-between;
      display: flex;

      .ant-btn {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 4px 8px 4px;
      }
    }
  }
}
