.terms-and-condition-page {
  background-color: var(--color-gray-3);
  padding-top: 72px;

  @media only screen and (max-width: 1023px) {
    padding-top: 96px;
  }

  &__mobile-actions {
    position: fixed;
    top: 48px;
    z-index: 1000;

    @media only screen and (min-width: 1023px) {
      display: none !important;
    }
  }

  &__back-home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  &__header {
    height: 518px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-gray-10);

    h1 {
      font-weight: 900;
    }

    h1,
    h5,
    button {
      color: var(--color-gray-1);
      z-index: 2;
      text-align: center;
    }

    h1 {
      margin-bottom: 32px;
    }

    h5 {
      margin-bottom: 32px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      opacity: 0.65;
    }
  }

  &__body {
    padding: 84px 160px;

    @media only screen and (max-width: 1023px) {
      padding: 56px 16px;
    }

    h5,
    h6 {
      font-weight: 700;
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 48px;
    }
  }
}
