.about-us-location {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 12px 100px;
  background-color: var(--color-gray-1);

  &__tag {
    text-transform: uppercase;
    color: var(--color-blue-7);
    font-weight: 500;
    padding: 8px 16px;
    background-color: var(--color-blue-1);
    border-radius: 4px;
    margin-bottom: 16px;
  }

  &__description {
    text-align: center;
    font-weight: 500;
    color: var(--color-gray-8);
    margin-bottom: 48px;
  }

  &__office {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 1023px) {
      flex-direction: column;
    }

    &--images {
      display: flex;
      margin-bottom: 16px;

      &---column {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        img {
          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }

    &--map {
      margin-right: 24px;
      width: 430px;
      height: 430px;
      border-radius: 100%;
      background-size: cover;
      position: relative;

      @media only screen and (max-width: 1023px) {
        margin-right: 0;
        margin-bottom: 24px;
        width: calc(100vw - 24px);
        max-width: 430px;
        max-height: 430px;
        height: auto;
        height: calc(100vw - 24px);
      }

      &---fisherton {
        position: absolute;
        top: 150px;
        left: 60px;
      }

      &---brown {
        position: absolute;
        right: 45px;
        top: 210px;
      }
    }

    &--description {
      &---container {
        height: 320px;
        width: 360px;
      }

      h6 {
        margin-bottom: 24px;
        color: var(--color-gray-7);
      }

      button {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }
  }

  h3 {
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;

    b {
      color: var(--color-blue-7);
    }
  }
}
