.properties-map {
  &__search-in-zone {
    &--button {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translateX((-50%));
      z-index: 10000000;
      font-weight: 700;
      border: none;
      box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08),
        0px 24px 32px rgba(50, 50, 71, 0.08);

      @media only screen and (max-width: 1023px) {
        display: none;
      }

      img {
        margin-left: 8px;
      }

      &:hover {
        color: var(--color-blue-7);
        background-color: var(--color-gray-1);
      }

      &:focus {
        color: var(--color-blue-7);
      }
    }
  }
}
