.thanks-for-your-assess-page {
  background-color: var(--color-gray-3);
  padding-top: 72px;

  @media only screen and (max-width: 1023px) {
    padding-top: 48px;
  }

  &__content {
    h3 {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 32px;
      color: var(--color-gray-8);

      @media only screen and (max-width: 1023px) {
        margin-bottom: 0;
      }
    }

    &--keep-searching-button {
      width: 100%;
      text-align: center;

      button {
        width: 100%;
      }
    }
  }
}
