.feed-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-3);
  padding-top: 120px;
  padding-bottom: 100px;

  &__no-properties {
    padding-top: 95px;
  }

  @media only screen and (max-width: 1023px) {
    padding-top: 152px;
  }

  &__highlighted-property {
    grid-column: 1 / -1;
    justify-self: center;

    @media only screen and (max-width: 1199px) {
      max-width: 762px;
    }
  }

  &__properties-list-banner {
    grid-column: 1 / -1;
  }

  &__loading {
    width: 100%;
  }

  &__filters-bar {
    position: fixed;
    top: 72px;
    z-index: 1000;

    @media only screen and (max-width: 1023px) {
      display: none !important;
    }
  }

  &__page-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 24px 0;

    @media only screen and (max-width: 1023px) {
      padding: 0 16px 0;
    }
  }

  &__mobile-actions {
    position: fixed;
    top: 48px;
    z-index: 1000;

    @media only screen and (min-width: 1024px) {
      display: none !important;
    }
  }

  &__actions-mobile {
    width: 100%;
    background-color: var(--color-blue-1);
    padding: 12px 16px 12px;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    left: 0;
    top: 96px;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
      0px 8px 16px rgba(50, 50, 71, 0.06);
    justify-content: space-between;
    display: flex;

    &--count {
      color: var(--color-magenta-6);
      font-size: 14px;
    }

    &--sort {
      font-size: 14px;
      color: var(--color-blue-7);

      img {
        margin-right: 8px;
      }
    }

    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__actions {
    width: 100%;
    padding: 24px 0 24px;

    @media only screen and (max-width: 1023px) {
      display: none;
    }

    &--item {
      border-radius: 4px;
      background-color: var(--color-gray-1);
      padding: 10px;
      font-size: 14px;
      cursor: pointer;
      margin-right: 12px;

      img {
        margin-right: 8px;
      }
    }
  }

  &__property-card {
    @media only screen and (max-width: 1200px) {
      &--even {
        justify-self: start;
      }

      &--odd {
        justify-self: end;
      }
    }

    @media only screen and (min-width: 1024px) {
      max-width: 368px;
    }
  }

  &__feed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;

    > * {
      min-width: 0;
    }

    @media only screen and (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 1023px) {
      grid-template-columns: minmax(0, 1fr);
    }
  }
}
