.property-details-side-bar-actions {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  background-color: var(--color-gray-1);
  box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
    0px 2px 4px rgba(50, 50, 71, 0.06);
  border-radius: 8px;
  padding: 16px;

  &__share-container {
    height: 32px;
    position: relative;
    width: 100%;
  }
}
