.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 72px;
  background-color: var(--color-gray-1);
  position: fixed;
  top: 0;
  z-index: 10000;
  transition: all 0.3s;

  &__shadow {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  }

  &__home {
    background-color: transparent;
    box-shadow: none;

    &--log-in-button {
      background-color: transparent !important;
      color: var(--color-gray-1) !important;
      border-color: var(--color-gray-1) !important;
    }

    .nav-bar__search {
      opacity: 0;
    }

    .nav-bar__menu {
      &--item {
        a {
          color: var(--color-gray-1);

          &:hover {
            color: var(--color-gray-1);
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1023px) {
    display: none !important;
  }

  &__logo {
    cursor: pointer;
    img {
      height: 32px;
    }
  }

  &__container {
    padding: 0 24px 0;
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
  }

  &__search {
    padding: 0 26px 0 62px;
    flex: 1;

    &--glass,
    &--close {
      cursor: pointer;
    }

    &--inputs {
      height: 40px;
      background-color: var(--color-gray-3);
      border-radius: 8px;
      border: none;

      input {
        &:focus {
          border: none !important;
          box-shadow: none !important;
        }
        height: 100%;
        border: none;
        background-color: var(--color-gray-3);
        color: var(--color-gray-8);
        font-size: 16px;
      }
    }
  }

  &__menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;

    &--item {
      padding: 0 8px 0;
      margin-right: 8px;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 16px;

      &.current-path {
        a {
          color: var(--color-blue-6);
        }
      }

      a {
        color: var(--color-gray-9);
        transition: color 0.2s ease-in;
      }

      &:hover {
        a {
          color: var(--color-blue-6);
        }
      }
    }
  }
}
