.property-details-developments-tables {
  padding: 8px;
  background-color: var(--color-gray-1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__table {
    &--price {
      font-size: 14px;
      color: var(--color-blue-7);
      font-weight: 700;
    }

    &--actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      button {
        background-color: var(--color-gray-3);
        border: none;
        height: 32px;
        width: 32px;
        border-radius: 100%;
        font-size: 16px;
        color: var(--color-blue-7);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }

    &--actions.ant-table-cell {
      height: 100%;
    }
  }

  &__container {
    &--header {
      margin-bottom: 8px;
      display: flex;
      padding: 8px 16px 8px 8px;
      cursor: pointer;
      box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
        0px 2px 4px rgba(50, 50, 71, 0.06);
      border-radius: 4px;
      align-items: center;

      &---button {
        margin-left: auto;
        transition: all 0.3s ease-in;

        &.expanded-button {
          transform: rotate(180deg);
        }
      }

      &---image {
        width: 73px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: var(--color-gray-3);
        margin-right: 24px;
      }

      &---title {
        h6 {
          font-weight: 700;
        }
        p {
          font-weight: 500;
          color: var(--color-blue-7);
        }
      }
    }
  }
}
