.mobile-actions {
  display: flex;
  width: 100%;
  padding: 8px 16px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), inset 0px 1px 0px #bfbfbf,
    inset 0px -1px 0px #bfbfbf;
  background-color: var(--color-gray-1);

  &--button {
    flex: 1;

    &:not(:last-child) {
      margin-right: 16px;
    }

    img {
      margin-right: 8px;
    }
  }
}
