.assess-social-media {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 12px 100px;
  background-color: var(--color-gray-1);

  &__tag {
    text-transform: uppercase;
    color: var(--color-blue-7);
    font-weight: 500;
    padding: 8px 16px;
    background-color: var(--color-blue-1);
    border-radius: 4px;
    margin-bottom: 16px;
  }

  &__description {
    text-align: center;
    font-weight: 500;
    color: var(--color-gray-8);
    margin-bottom: 48px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    max-width: 760px;
    width: 100%;

    @media only screen and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1152px;
    }

    @media only screen and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
      max-width: 1152px;
    }

    @media only screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }

  &__social-media-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    transition: all 0.3s ease-in;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08),
        0px 24px 32px rgba(50, 50, 71, 0.08);
    }

    img {
      margin-bottom: 32px;
    }

    h3 {
      margin-bottom: 12px;
    }

    &--description {
      margin-bottom: 48px;
      color: var(--color-gray-8);
      text-align: center;
    }

    &--link {
      cursor: pointer;
      color: var(--color-blue-7);
      text-transform: uppercase;
    }
  }

  h3 {
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;

    b {
      color: var(--color-blue-7);
    }
  }
}
