.alert-modal {
  padding: 16px;

  &__image {
    max-height: 372px;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  p {
    font-weight: 500;
    color: var(--color-gray-8);
    margin-top: 8px;
  }
}
