.property-details-map {
  padding: 16px;
  background-color: var(--color-gray-1);
  border-radius: 4px;
  position: relative;

  h5 {
    color: var(--color-blue-7);
    margin-bottom: 16px;
  }

  &__go-to-map {
    position: absolute;
    bottom: 32px;
    left: 32px;
    width: calc(100% - 64px);
    background-color: var(--color-gray-1);

    &:hover {
      background-color: var(--color-gray-1);
      color: var(--color-blue-7);
    }

    img {
      margin-left: 8px;
    }
  }
}
