.property-details-characteristics {
  padding: 16px;
  background-color: var(--color-gray-1);
  border-radius: 4px;

  h5 {
    color: var(--color-blue-7);
    margin-bottom: 8px;
    font-weight: 700;
  }

  h6 {
    label {
      color: var(--color-blue-7);
    }
    margin-bottom: 8px;
  }

  &__table {
    display: flex;
    border-bottom: 2px solid var(--color-gray-4);
    margin-bottom: 8px;

    &--column {
      flex: 1;
    }
  }
}
