.highlight-property {
  display: flex;
  background-color: var(--color-gray-1);
  border-radius: 8px;
  height: 350px;
  box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
    0px 2px 4px rgba(50, 50, 71, 0.06);

  @media only screen and (min-width: 1200px) {
    flex-direction: row-reverse;
    height: 376px;
  }

  @media only screen and (max-width: 1023px) {
    flex-direction: column;
    height: auto;
  }

  &__price {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 7px;
    border-radius: 4px;
    color: var(--color-gray-1);
    background-color: var(--color-blue-7);
  }

  &__more-images {
    display: flex;
    flex-direction: column;

    img {
      height: 96px;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
      margin-bottom: 8px;
    }
  }

  &__column-center {
    width: 192px;
    padding: 16px 0 16px;

    @media only screen and (max-width: 1199px) {
      display: none;
    }
  }

  &__column-left,
  &__column-right {
    position: relative;
    padding: 16px;
    width: 50%;

    @media only screen and (min-width: 1200px) {
      width: calc(50% - 96);
    }

    @media only screen and (max-width: 1023px) {
      width: 100%;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    &--link {
      display: flex;
      align-items: flex-end;

      @media only screen and (max-width: 1023px) {
        align-items: center;
      }
    }
  }

  &__column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image {
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  &__image-footer {
    position: absolute;
    bottom: 16px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      rgba(163, 163, 163, 0.5);
    height: 64px;
    width: calc(100% - 32px);
    display: flex;
    align-items: center;
    border-radius: 0 0 4px 4px;
    justify-content: space-between;
    padding: 0 16px 0;

    @media only screen and (min-width: 1200px) {
      display: none;
    }

    &--surface {
      display: flex;
      align-items: center;
      color: var(--color-gray-1);

      img {
        margin-right: 10px;
      }
    }

    &--price {
      height: 32px;
      display: flex;
      align-items: center;
      padding: 4px 8px;
      border-radius: 4px;
      background-color: var(--color-gray-1);
      color: var(--color-blue-7);
    }
  }

  &__type {
    text-transform: uppercase;
    color: var(--color-blue-7);
    margin-bottom: 8px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__address {
    color: var(--color-blue-7);
    margin-bottom: 34px;

    @media only screen and (max-width: 1023px) {
      margin-bottom: 24px;
    }
  }

  &__amenities {
    color: var(--color-gray-8);

    @media only screen and (max-width: 1023px) {
      margin-bottom: 24px;
    }
  }

  &__batch {
    height: 40px;
    background-color: var(--color-blue-7);
    width: 191px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray-1);
    box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
      0px 2px 4px rgba(50, 50, 71, 0.06);
    border-radius: 4px;
    margin-bottom: 34px;

    @media only screen and (max-width: 1023px) {
      margin-bottom: 24px;
    }

    img {
      margin-right: 8px;
    }
  }
}
