.properties-list-feed-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 40px;

  &__see-all {
    background-color: var(--color-blue-7);
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    color: var(--color-gray-1);
  }

  &__label {
    background-color: var(--color-blue-1);
    color: var(--color-blue-7);
    padding: 8px 16px;
    margin-bottom: 16px;
  }

  &__title {
    span {
      color: var(--color-blue-7);
    }
    margin-bottom: 16px;
    text-align: center;
  }

  &__description {
    color: var(--color-gray-8);
    margin-bottom: 48px;
    text-align: center;
  }

  &__lists {
    display: flex;
    margin-bottom: 60px;

    @media only screen and (max-width: 1023px) {
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr 1fr;
      column-gap: 8px;
    }
  }

  &__list-card {
    width: 172px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    &--container {
      flex: 1;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }

    @media only screen and (max-width: 1023px) {
      margin: 0 !important;
    }

    h6 {
      font-weight: 700;
      text-align: center;
      margin-bottom: 16px;
    }

    p {
      color: var(--color-gray-8);
      margin-bottom: 20px;
      text-align: center;
    }

    &--image {
      width: 100%;
      height: 116px;
      border-radius: 4px;
      background-color: var(--color-gray-1);
      padding: 8px;
      margin-bottom: 8px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }

    a {
      font-size: 14px;
      text-align: center;
    }
  }
}
