.home-filters {
  z-index: 10;

  &__mobile {
    text-align: center;

    > :first-child {
      margin-bottom: 10px;
    }
    
    .home-filters__search {
      width: 328px;

      img {
        margin-right: 8px;
      }
    }

    .home-filters__log-in {
      height: 40px;
      width: 328px;
      font-size: 16px;
      background-color: transparent;
      color: var(--color-gray-1);
      border: 1px solid #fafafa;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin-right: 8px;
      }

      &:focus {
        outline: none;
      }
    }

    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__desktop {
    display: flex;

    @media only screen and (max-width: 1023px) {
      display: none;
    }

    .home-filters__filter-popup {
      border-radius: 0;
      height: 40px;
      width: 165px;
      font-size: 16px !important;

      > span {
        font-size: 16px !important;
      }

      &:first-child {
        border-radius: 4px 0px 0px 4px;
      }
    }

    .home-filters__search {
      height: 40px;
      border-radius: 0px 4px 4px 0px;
      width: 165px;
      border: none;
      cursor: pointer;
      background-color: var(--color-blue-7);
      color: var(--color-gray-1);
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    .home-filters__options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 5px;
      column-gap: 10px;
      width: 100%;

      &--location-select {
        margin: 10px 0 10px;
      }

      &--price {
        &-inputs {
          margin-bottom: 10px;
        }

        .ant-radio-group {
          margin-bottom: 10px;
        }

        .ant-checkbox-wrapper {
          margin-bottom: 5px;
        }
      }
    }
  }
}
