.about-us-employees {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 12px 48px;
  background-color: var(--color-gray-1);

  h3 {
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;

    b {
      color: var(--color-blue-7);
    }
  }

  &__tag {
    text-transform: uppercase;
    color: var(--color-blue-7);
    font-weight: 500;
    padding: 8px 16px;
    background-color: var(--color-blue-1);
    border-radius: 4px;
    margin-bottom: 16px;
  }

  &__description {
    text-align: center;
    font-weight: 500;
    color: var(--color-gray-8);
    margin-bottom: 48px;
  }

  &__employees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    max-width: 760px;
    width: 100%;
    margin-bottom: 52px;

    @media only screen and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1152px;
    }

    @media only screen and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
      max-width: 1152px;
    }

    @media only screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }

  &__linked-in {
    padding: 24px;
    background-color: var(--color-blue-7);
    border-radius: 8px;

    &--picture {
      margin-bottom: 8px;
    }

    &--name {
      font-weight: 700;
      color: var(--color-gray-1);
    }

    &--role {
      margin-bottom: 8px;
      color: var(--color-gray-1);
    }

    &--actions {
      button {
        border-radius: 4px;
        background-color: var(--color-blue-7);
        color: var(--color-gray-1);
        padding: 4px 12px;
        cursor: pointer;
        border: 1px solid var(--color-gray-1);

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__sellers-manager {
    padding: 24px;
    background-color: var(--color-gray-9);
    border-radius: 8px;

    &--picture {
      height: 72px;
      width: 72px;
      border-radius: 100%;
      object-fit: cover;
      margin-bottom: 8px;
    }

    &--name {
      font-weight: 700;
      color: var(--color-gray-1);
    }

    &--role {
      margin-bottom: 8px;
      color: var(--color-gray-1);
    }

    &--actions {
      button {
        border-radius: 4px;
        background-color: var(--color-gray-10);
        color: var(--color-gray-1);
        padding: 4px 12px;
        cursor: pointer;
        border: 1px solid var(--color-gray-1);

        &:focus {
          outline: none;
        }
      }
    }
  }
}
