.profile-property-card-mobile {
  display: flex;
  padding: 8px;
  background-color: var(--color-gray-1);
  border-radius: 4px;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
    0px 2px 4px rgba(50, 50, 71, 0.06);

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    height: 48px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    button {
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  &__button {
    border: none;
    background-color: var(--color-gray-3);
    border-radius: 100%;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 14px;
      width: 14px;
    }

    &:focus {
      outline: none;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--price {
      color: var(--color-blue-7);
    }
  }

  &__image {
    margin-right: 24px;

    img {
      border-radius: 4px;
      height: 48px;
      width: 93px;
    }
  }
}
