.sort-drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  h3 {
    text-align: center;
    margin-bottom: 8px;
  }

  p {
    text-align: center;
    color: var(--color-gray-8);
    margin-bottom: 32px;
  }

  &__option {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.selected {
      background-color: var(--color-blue-1);
      color: var(--color-blue-8);
    }

    &.press {
      background-color: var(--color-blue-1);
    }
  }
}
