.assess-quality-pictures {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 12px 96px;
  background-color: var(--color-gray-1);

  h3 {
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;

    b {
      color: var(--color-blue-7);
    }
  }

  &__tag {
    text-transform: uppercase;
    color: var(--color-blue-7);
    font-weight: 500;
    padding: 8px 16px;
    background-color: var(--color-blue-1);
    border-radius: 4px;
    margin-bottom: 16px;
  }

  &__description {
    text-align: center;
    font-weight: 500;
    color: var(--color-gray-8);
    margin-bottom: 48px;
  }

  &__properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;

    @media only screen and (max-width: 1199px) and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;

      > :last-child {
        display: none;
      }
    }

    @media only screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }

  &__property-card {
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
      0px 4px 8px rgba(50, 50, 71, 0.06);
    border-radius: 4px;

    &--image {
      border-radius: 4px 4px 0 0;
      max-width: 100%;
    }

    &--footer {
      padding: 16px;

      small {
        text-transform: uppercase;
        color: var(--color-blue-8);
        margin-bottom: 4px;
      }

      p {
        color: var(--color-gray-8);
        margin-top: 4px;
      }
    }
  }
}
