.filters-mobile {
  position: relative;
  padding-top: 108px;
  padding-bottom: 40px;

  &__header {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100vw;
    background-color: var(--color-gray-1);
    z-index: 1;
  }

  &__filter-collapse {
    padding: 16px 0;

    &:not(:last-child) {
      border-bottom: 2px solid var(--color-gray-5);
    }
  }

  &__button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 16px;
    background-color: var(--color-gray-1);
    width: 100vw;
  }

  &__filters-container {
    height: 100%;
    margin-bottom: 16px;
    overflow-y: scroll;
  }

  &__button {
    width: 100%;
  }

  &__options {
    display: flex !important;
    flex-direction: column;
    width: 100%;

    > :not(:last-child) {
      margin-bottom: 16px !important;
    }

    &--location-select {
      margin: 10px 0 10px;
    }

    &--price {
      &-inputs {
        margin-bottom: 16px;
      }

      .ant-radio-group {
        margin-bottom: 16px;
      }

      .ant-checkbox-wrapper {
        margin-bottom: 16px;
      }
    }
  }
}
