.mobile-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__collpase {
    &--categories {
      list-style: none;
      padding: 10px 0 0 24px;

      li {
        padding: 4px 0;
      }
    }

    &--anchor {
      margin-left: 8px;
      transition: all 0.2s ease-in;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  &__menu {
    h6 {
      margin-bottom: 32px;

      img {
        margin-right: 8px;
        height: 24px;
        width: 24px;
      }
    }

    h5 {
      margin-bottom: 24px;

      img {
        margin-right: 8px;
      }
    }
  }

  &__social-media {
    display: flex;

    h5 {
      color: var(--color-blue-7);
      margin-right: 16px;
    }

    a {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}
