.property-details-description {
  padding: 16px;
  background-color: var(--color-gray-1);
  border-radius: 4px;

  &__anchor {
    transition: all 0.3s ease-in !important;

    &.open {
      transform: rotate(180deg);
    }
  }

  &__show-more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  h5 {
    color: var(--color-blue-7);
    margin-bottom: 16px;
  }

  h6 {
    margin-bottom: 20px;
  }
}
