.page-footer {
  background-color: var(--color-gray-10);
  padding: 24px;
  width: 100%;
  color: var(--color-gray-1);
  height: 400px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 1023px) {
    height: auto;
  }

  h6 {
    color: var(--color-gray-1);
  }

  &__info {
    display: flex;
    flex: 1;
    border-bottom: 2px solid var(--color-gray-1);
    column-gap: 24px;

    @media only screen and (max-width: 1023px) {
      flex-direction: column;
    }

    a {
      color: var(--color-gray-1);
      font-size: 14px;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }

    &--social-media {
      margin-top: 24px;

      a {
        margin-right: 16px;
      }
    }

    &--logo {
      @media only screen and (max-width: 1023px) {
        text-align: center;
        border-bottom: 2px solid var(--color-gray-1);
      }

      img {
        margin-bottom: 24px;
      }

      p {
        font-weight: 500;
      }
    }

    &--data {
      flex: 1;
      display: flex;
      flex-direction: column;

      h6 {
        margin-bottom: 16px;
      }

      a {
        margin-bottom: 16px;
      }

      &---address {
        @media only screen and (max-width: 1023px) {
          padding: 24px 0;
          display: flex !important;
          text-align: center;
        }
      }

      @media only screen and (max-width: 1023px) {
        display: none;
      }
    }

    &--info {
      display: flex;
      flex-direction: column;
    }
  }

  &__footer {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1023px) {
      flex-direction: column-reverse;
      row-gap: 16px;
      text-align: center;
    }

    a {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
