.home-what-search-for {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 12px 48px;
  background-color: var(--color-gray-1);

  .pink {
    color: var(--color-magenta-6);
  }

  .blue {
    color: var(--color-blue-7);
  }

  .gray {
    color: var(--color-gray-9);
  }

  h3 {
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;

    b {
      color: var(--color-blue-7);
    }
  }

  &__tag {
    text-transform: uppercase;
    color: var(--color-blue-7);
    font-weight: 500;
    padding: 8px 16px;
    background-color: var(--color-blue-1);
    border-radius: 4px;
    margin-bottom: 16px;
  }

  &__description {
    text-align: center;
    font-weight: 500;
    color: var(--color-gray-8);
    margin-bottom: 48px;
  }

  &__cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    max-width: 760px;
    width: 100%;
    margin-bottom: 52px;

    @media only screen and (max-width: 1199px) and (min-width: 1024px) {
      :last-child {
        grid-column: 1 / -1;
      }
    }

    @media only screen and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1152px;
    }

    @media only screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }

  &__cards {
    position: relative;
    height: auto;
    cursor: pointer;

    &--content {
      padding: 24px;
      position: relative;
      height: 100%;
      z-index: 100;
      background-color: var(--color-gray-1);
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);

      img {
        margin-bottom: 12px;
      }

      h3 {
        color: var(--color-blue-7);
        font-weight: 500;
        margin-bottom: 8px;
      }

      h6 {
        color: var(--color-gray-8);
        margin-bottom: 16px;
      }

      a {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
