.map-property-card {
  display: flex;
  padding: 8px;
  background-color: var(--color-gray-1);
  min-height: 112px;
  border-radius: 4px;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
    0px 2px 4px rgba(50, 50, 71, 0.06);

  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h5 {
      margin-bottom: 8px;
      font-weight: 700;

      @media only screen and (max-width: 1199px) {
        display: none;
      }
    }

    &--property-type {
      font-weight: 700;
      text-transform: uppercase;
      color: var(--color-blue-7);
      margin-bottom: 8px;
      display: block;
    }

    &--actions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 8px;

      &---bell {
        @media only screen and (max-width: 1199px) {
          display: none !important;
        }
      }

      button {
        background-color: var(--color-gray-3);
        border: none;
        height: 32px;
        width: 32px;
        border-radius: 100%;
        font-size: 16px;
        color: var(--color-blue-7);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }

    &--address {
      margin-bottom: 8px;
    }

    &--price-and-surface {
      color: var(--color-blue-7);
    }
  }

  &__image {
    margin-right: 24px;

    img {
      border-radius: 4px;
      height: 140px;
      width: 176px;

      @media only screen and (max-width: 1199px) {
        height: 96px;
        width: 135px;
      }
    }
  }
}
