.thanks-for-consult-layout {
  width: 100%;

  &__back-button-container-mobile {
    display: none;

    @media only screen and (max-width: 1023px) {
      display: flex;
      height: 56px;
      padding: 8px;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }
  }

  &__back-button-container-desktop {
    margin-bottom: 32px;

    @media only screen and (max-width: 1023px) {
      display: none;
    }
  }

  &__background {
    flex: 1;

    @media only screen and (max-width: 1023px) {
      height: 210px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    min-height: 500px;

    @media only screen and (max-width: 1023px) {
      flex-direction: column-reverse;
    }

    &--elements-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: 0 64px;

      @media only screen and (max-width: 1023px) {
        padding: 24px 16px;
        align-items: flex-start;
      }
    }

    &--back-button {
      font-weight: 500;
      font-size: 14px;
      background-color: transparent;
      cursor: pointer;
      border: none;

      &:focus {
        outline: none;
      }
    }

    &--elements {
      max-width: 512px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
}
