.floating-consult-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  height: 68px;
  width: 68px;
  border-radius: 100%;
  background-color: var(--color-blue-7);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &__hide-modile {
    @media only screen and (max-width: 1023px) {
      display: none;
    }
  }

  &:hover {
    background-color: var(--color-blue-6);
  }
}
