.share-like-and-notification-buttons {
  height: 40px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  &__icon {
    transition: all 0.3s ease-in;
    padding: 10px;
    font-size: 20px;
    color: var(--color-blue-7);
    cursor: pointer;

    &:hover {
      color: var(--color-blue-5);
    }
  }
}
