.profile-resume {
  &__user {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--color-gray-5);

    &--data {
      margin-left: 16px;
    }
  }

  &__info {
    padding: 24px 0 24px;
    border-bottom: 2px solid var(--color-gray-5);

    &--icon {
      height: 16px;
      width: 16px;
      margin-right: 8px;
    }

    h6 {
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &.with-content {
        color: var(--color-blue-7);
      }

      label {
        border-radius: 48px;
        background-color: var(--color-blue-1);
        padding: 4px 8px;
        position: absolute;
        right: 0;
      }
    }
  }
}
