.filters-collapse {
  h5 {
    margin-bottom: 16px;
  }

  &__button {
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-blue-7);
    transition: all 0.3s ease-in;
    margin: 0;

    &.open {
      color: var(--color-red-6);
      margin-top: 12px;
    }

    &:focus {
      outline: none;
    }
  }

  &__anchor {
    transition: all 0.3s ease-in;

    &.open {
      transform: rotate(180deg);
    }
  }
}
