.home-about-us {
  height: 518px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px;
  background-color: var(--color-gray-10);

  h1 {
    font-weight: 900;
  }

  h1,
  h5,
  button {
    color: var(--color-gray-1);
    z-index: 2;
    text-align: center;
  }

  h1 {
    margin-bottom: 32px;
  }

  h5 {
    margin-bottom: 32px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.85;
  }
}
