.ant-btn {
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--color-blue-7);
  color: var(--color-blue-7);
  font-size: 16px;
  font-weight: 500;

  &.ant-btn-sm {
    font-size: 14px;
  }

  &:hover {
    border-color: var(--color-blue-7);
    background-color: var(--color-blue-7);
    color: white;
  }

  &.ant-btn-primary {
    border: none;
    background-color: var(--color-blue-7);
    color: white;
  }

  &.ant-btn-sm {
    height: 32px;
  }

  &.ant-btn-dashed {
    background-color: transparent;
    border: none;

    &:hover {
      color: var(--color-blue-6);
    }
  }

  &.ant-btn-dangerous {
    color: var(--color-red-6);
  }

  &:disabled {
    color: var(--color-gray-7);
  }
}

.ant-form-item {
  margin-bottom: 0;
  padding-bottom: 19px;
}

.ant-form-item-with-help {
  padding-bottom: 0;
}

.ant-popover-inner {
  border-radius: 8px;
  box-shadow: 0px 28px 28px rgba(50, 50, 71, 0.15),
    0px 48px 56px rgba(50, 50, 71, 0.25);

  &-content {
    padding: 16px;
  }
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin: 0;
}

.ant-input-wrapper.ant-input-group {
  height: 40px;

  .ant-input-group-addon {
    border: none;
    background-color: transparent;
  }
}

.ant-select-item-option-content {
  text-transform: capitalize;
}

.ant-select-selector {
  .ant-select-selection-item {
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }
}

.ant-modal {
  &-content {
    border-radius: 8px;
  }

  &-body {
    padding: 0;
  }
}

.ant-input {
  font-size: 12px;
}

.ant-form {
  &-item {
    &-label {
      padding: 0 0 4px !important;

      label {
        font-size: 10px;
        color: var(--color-gray-8);
      }
    }
  }
}

.ant-notification {
  z-index: 10002;
}

.ant-drawer {
  z-index: 10001;
}

.ant-drawer-body {
  padding: 16px;
}

.ant-radio-group {
  display: flex;

  .ant-radio-button-wrapper {
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    &.ant-radio-button-wrapper-checked {
      background-color: var(--color-blue-7);
      color: var(--color-gray-1);
    }

    &.ant-radio-button-wrapper-disabled {
      color: var(--color-gray-6);
      background-color: transparent;
      border: none;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

.magenta {
  .ant-checkbox-inner {
    background-color: var(--color-magenta-7);
    border-color: var(--color-magenta-7);
  }
}

.blue {
  .ant-checkbox-inner {
    background-color: var(--color-blue-7);
    border-color: var(--color-blue-7);
  }
}

.filters-collapse,
.mobile-menu,
.property-details-description,
.property-details-developments-tables {
  &__collpase {
    border: none !important;

    .ant-collapse-header {
      display: none;
    }

    .ant-collapse-item {
      border: none !important;
    }

    .ant-collapse-content {
      border: none !important;
    }

    .ant-collapse-content-box {
      padding: 0;
    }
  }
}

.property-details-developments-tables {
  &__table {
    border: 1px solid var(--color-gray-5);

    .ant-table-thead {
      .ant-table-cell {
        border-bottom: 1px solid var(--color-gray-5);
        background-color: var(--color-gray-1);
        font-size: 10px;
        font-weight: 700;
      }
    }
  }
}

.ant-pagination {
  .ant-pagination-item-link {
    border: none !important;
    font-size: 10px !important;
  }

  .ant-pagination-item {
    border: none !important;
  }
}
.map-page__mobile-drawer {
  z-index: 100;

  .ant-drawer-body {
    padding: 0;
  }
}

.ant-select-selection-placeholder {
  display: flex;
  align-items: center;
}

.ant-form-item-explain {
  div {
    font-size: 12px !important;
  }
}

.ant-form-item-explain,
.ant-form-item-extra {
  min-height: 16px;
}

@media only screen and (max-width: 1023px) {
  .ant-input {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1023px) {
  .ant-input, .ant-select-selection-search-input {
    font-size: 16px;
  }
}
