@import url("https://rsms.me/inter/inter.css");

html,
body,
#__next {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html,
  body,
  #__next {
    font-family: "Inter var", sans-serif;
    font-size: 12px;
    font-weight: 500;
  }
}

body {
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-6);
  }
}

div {
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-6);
  }
}

h1 {
  font-size: 48px;
  margin: 0;
  font-weight: 700;
}
h2 {
  font-size: 32px;
  margin: 0;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
}
h4 {
  font-size: 18px;
  margin: 0;
}
h5 {
  font-size: 16px;
  margin: 0;
}
h6 {
  font-size: 14px;
  margin: 0;
}
p {
  font-size: 12px;
  margin: 0;
}
small {
  font-size: 10px;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

body {
  --color-gray-1: #ffffff;
  background-color: var(--color-gray-3);

  --color-gray-2: #fafafa;
  --color-gray-3: #f5f5f5;
  --color-gray-4: #e8e8e8;
  --color-gray-5: #d9d9d9;
  --color-gray-6: #bfbfbf;
  --color-gray-7: #8c8c8c;
  --color-gray-8: #595959;
  --color-gray-9: #262626;
  --color-gray-10: #000000;

  --color-blue-1: #e6f7ff;
  --color-blue-2: #bae7ff;
  --color-blue-3: #91d5ff;
  --color-blue-4: #69c0ff;
  --color-blue-5: #40a9ff;
  --color-blue-6: #1890ff;
  --color-blue-7: #096dd9;
  --color-blue-8: #0050b3;
  --color-blue-9: #003a8c;
  --color-blue-10: #002766;

  --color-magenta-1: #fff0f6;
  --color-magenta-2: #ffd6e7;
  --color-magenta-3: #ffadd2;
  --color-magenta-4: #ff85c0;
  --color-magenta-5: #f759ab;
  --color-magenta-6: #eb2f96;
  --color-magenta-7: #c41d7f;
  --color-magenta-8: #9e1068;
  --color-magenta-9: #780650;
  --color-magenta-10: #520339;

  --color-red-1: #fff1f0;
  --color-red-2: #ffccc7;
  --color-red-3: #ffa39e;
  --color-red-4: #ff7875;
  --color-red-5: #ff4d4f;
  --color-red-6: #f5222d;
  --color-red-7: #cf1322;
  --color-red-8: #a8071a;
  --color-red-9: #820014;
  --color-red-10: #5c0011;
}

.dp2-shadow {
  box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
    0px 2px 4px rgba(50, 50, 71, 0.06);
}

.dp8-shadow {
  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06);
}

.dp12-shadow {
  box-shadow: 0px 12px 12px rgba(50, 50, 71, 0.08),
    0px 16px 24px rgba(50, 50, 71, 0.08);
}

.react-share__ShareButton {
  &:focus {
    outline: none;
  }
}

.black-custom-button {
  height: 40px;
  width: 100%;
  border: 1px solid var(--color-gray-10);
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
  background-color: var(--color-gray-10);
  color: var(--color-gray-1);
  margin-top: 24px;

  &:hover {
    background-color: transparent;
    color: var(--color-gray-10);
  }

  &:focus {
    outline: none;
  }
}
.app-page {
  &__loading {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.white-custom-button {
  height: 40px;
  width: 100%;
  border: 1px solid var(--color-gray-10);
  background-color: transparent;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: var(--color-gray-10);
    color: var(--color-gray-1);
  }

  &:focus {
    outline: none;
  }
}

.red-custom-button {
  height: 40px;
  width: 100%;
  color: var(--color-red-7);
  border: 1px solid var(--color-red-7);
  background-color: transparent;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: var(--color-gray-10);
    color: var(--color-gray-1);
    border: 1px solid var(--color-gray-10);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--color-gray-10);
  }
}

.magenta-custom-button {
  height: 40px;
  width: 100%;
  color: var(--color-magenta-6);
  border: 1px solid var(--color-magenta-6);
  background-color: transparent;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: var(--color-gray-10);
    color: var(--color-gray-1);
    border: 1px solid var(--color-gray-10);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--color-gray-10);
  }
}

.marker-cluster-small {
  color: var(--color-gray-1) !important;
  background-color: var(--color-gray-8) !important;

  div {
    background-color: var(--color-gray-10) !important;
  }
}

.marker-cluster-medium {
  color: var(--color-gray-1) !important;
  background-color: var(--color-gray-8) !important;

  div {
    background-color: var(--color-gray-10) !important;
  }
}

.marker-cluster-large {
  color: var(--color-gray-1) !important;
  background-color: var(--color-gray-8) !important;

  div {
    background-color: var(--color-gray-10) !important;
  }
}

.text-uppercase { 
  text-transform: uppercase;
}