.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content {
  margin: 0 !important;
}

.leaflet-popup-content {
  width: auto !important;
}
