.property-card-skeleton {
  width: 100%;
  border-radius: 8px;
  background-color: var(--color-gray-1);
  display: flex;
  flex-direction: column;
  height: 344px;

  &__carousel {
    height: 200px;
  }

  &__actions {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    &--consult {
      border-radius: 4px;
      height: 32px;
      width: 80px;
    }

    &--share {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      display: inline-block;
      margin-right: 4px;
    }
  }

  &__info {
    flex: 1;
    padding: 16px;

    &--type {
      height: 16px;
      width: 100px;
      margin-bottom: 4px;
    }

    &--title {
      height: 24px;
      width: 261px;
      margin-bottom: 4px;
    }

    &--address {
      height: 16px;
      width: 207px;
    }
  }
}
