.not-found-page {
  background-color: var(--color-gray-3);
  padding-top: 72px;

  @media only screen and (max-width: 1023px) {
    padding-top: 42px;
  }


  &__header {
    img {
      width: 24px;
      margin-right: 10px;
    }
    margin-bottom: 32px;
  }

  &__content {
    h3 {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 32px;
      color: var(--color-gray-8);
    }

    &--go-to-home {
      max-width: 512px;
      width: 100%;
      text-align: center;
    }
  }
}
