.filters-mobile-header {
  width: 100%;
  box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
    0px 2px 4px rgba(50, 50, 71, 0.06);
  padding: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    color: var(--color-blue-7);
    align-items: center;
    margin-bottom: 16px;

    h5 {
      font-weight: 700;
      color: var(--color-blue-7);
    }
  }

  &__tags {
    display: flex;
    overflow-x: scroll;
    height: 35px;
  }
}
