.newsletter-suscribe-hero {
  &__header {
    img {
      width: 24px;
      margin-right: 10px;
    }
    margin-bottom: 32px;
  }

  &__content {
    h3 {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 32px;
      color: var(--color-gray-8);
    }

    &--newsletter-form {
      max-width: 512px;
      width: 100%;
      text-align: center;
    }
  }
}
