.property-details-title-and-carousel {
  width: 100%;

  &__tags {
    display: flex;
    column-gap: 8px;
    row-gap: 8px;
    margin-top: 32px;
    flex-wrap: wrap;

    &--item {
      font-size: 12px;
      padding: 4px;
      background-color: var(--color-blue-1);
      color: var(--color-blue-7);
      border-radius: 4px;
      text-transform: capitalize;
    }
  }

  &__picture-type-selector {
    width: 100%;
    margin-bottom: 24px;
  }

  &__header {
    background-color: var(--color-gray-1);
    border-radius: 0 0 4px 4px;
    padding: 8px 16px 16px;

    h3 {
      font-weight: 500;
      margin-bottom: 8px;
    }

    h5 {
      color: var(--color-blue-6);
    }
  }

  &__carousel {
    position: relative;
    height: 420px;

    @media only screen and (max-width: 1023px) {
      height: 75vw;
    }

    &--arrow {
      &---fullscreen {
        bottom: 8px;
        right: 16px;
        position: absolute;
      }

      background-color: var(--color-gray-1);
      border-radius: 100%;
      height: 32px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px;

      &---right {
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }

      &---left {
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--actions-mobile {
      display: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      justify-content: space-between;
      padding: 0 16px;
      height: 100%;

      @media only screen and (max-width: 1023px) {
        display: flex !important;
      }
    }

    &--actions {
      position: absolute;
      bottom: 16px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 16px;

      @media only screen and (max-width: 1023px) {
        display: none;
      }

      &---carousel-controlers {
        button {
          &:not(:last-child) {
            margin-right: 8px;
          }
        }
      }
    }

    &--counter {
      background-color: white;
      border-radius: 3px;
      color: var(--color-blue-6);
      padding: 0 4px;
      position: absolute;
      right: 15px;
      top: 16px;
    }

    &--photo {
      height: 420px;
      width: 100%;
      padding: 0;

      @media only screen and (max-width: 1023px) {
        height: 75vw;
      }

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 4px 4px 0 0;

        @media only screen and (max-width: 1023px) {
          border-radius: 0;
        }
      }
    }
  }
}
