.home-parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(100vh - 56px);
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: var(--color-gray-10);

  padding: 16px;

  @media only screen and (max-width: 1023px) {
    height: calc(100vh - 60px);
  }

  &__black-background {
    background-color: var(--color-gray-10);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;

    @media only screen and (max-width: 1023px) {
      opacity: 0.6;
    }  
  }

  &__background,
  &__right-tower,
  &__middle-tower,
  &__left-tower,
  &__city {
    position: absolute;
    transform-origin: bottom;
  }

  &__sky {
    height: 60%;
    position: absolute;
    transform-origin: top;
  }

  &__city {
    left: 16vw;
    width: 80vw;
  }

  &__middle-tower {
    left: 55.2vw;
    width: 10vw;
  }

  &__right-tower {
    left: 71.2vw;
    width: 11vw;
  }

  &__left-tower {
    left: 44vw;
    width: 7vw;
  }

  &__sky {
    top: 0;
    left: 0;
    width: 100%;
  }

  &__background {
    width: 100%;
    left: 0;
  }
}
