.map-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-3);
  padding-top: 72px;
  height: 100vh;

  @media only screen and (max-width: 1023px) {
    padding-top: 96px;
  }

  &__mobile-actions {
    position: fixed;
    top: 48px;
    z-index: 1000;

    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__loading {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 120px;
    left: 0;
    height: calc(100% - 120px);
    width: 100%;
    z-index: 10000000;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 1023px) {
      top: 96px;
    }
  }

  &__container {
    display: flex;
    align-self: stretch;
    flex: 1;
  }

  &__filters-bar {
    @media only screen and (max-width: 1023px) {
      display: none;
    }
  }

  &__feed {
    flex: 1;
    padding: 16px;
    max-width: 650px;

    @media only screen and (max-width: 1199px) and (min-width: 1024px) {
      max-width: 45vw;
    }

    @media only screen and (max-width: 1023px) {
      display: none;
    }

    &--header {
      display: flex;
      width: 100%;
      height: 48px;
      background-color: var(--color-blue-1);
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      margin-bottom: 8px;

      &---amount {
        color: var(--color-magenta-7);
      }

      &---sort {
        cursor: pointer;
        color: var(--color-blue-7);
      }
    }

    &--container {
      padding-right: 8px;
      max-height: calc(100vh - 210px);
      overflow-y: scroll;
    }
  }

  &__map {
    flex: 1;
    height: 100%;
  }

  &__property-card {
    margin-bottom: 8px;
  }
}
