.map-popup {
  padding: 8px;
  display: flex;
  min-width: 444px;

  &__image {
    margin-right: 24px;

    &--hovered {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      color: var(--color-gray-1);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 127px;
      height: 96px;

      @media only screen and (max-width: 1199px) {
        width: 87px;
        height: 48px;
      }

      p {
        font-weight: 700;
        margin: 0 !important;
      }
    }

    &--image {
      width: 127px;
      height: 96px;
      border-radius: 4px;

      @media only screen and (max-width: 1199px) {
        width: 87px;
        height: 48px;
      }
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;

    small {
      color: var(--color-blue-7);
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 8px;

      @media only screen and (max-width: 1199px) {
        display: none !important;
      }
    }

    &--address {
      margin-bottom: 8px;
    }

    &--price-and-surface {
      color: var(--color-blue-7);
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: 1199px) {
      justify-content: center;
    }

    &--consult {
      @media only screen and (max-width: 1199px) {
        display: none !important;
      }
    }

    button {
      background-color: var(--color-gray-3);
      border: none;
      height: 32px;
      width: 32px;
      border-radius: 100%;
      font-size: 16px;
      color: var(--color-blue-7);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }
}
