.property-simple-menu {
  &__button {
    border: none;
    background-color: var(--color-gray-3);
    border-radius: 100%;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      height: 14px;
      width: 14px;
    }

    &:focus {
      outline: none;
    }
  }
}
