.profile-alerts {
  &__table {
    &--price-previous {
      color: var(--color-red-7);
      font-weight: 700;
    }

    &--price-current {
      color: var(--color-blue-7);
      font-weight: 700;
    }

    &--actions {
      button {
        background-color: var(--color-gray-3);
        border: none;
        height: 32px;
        width: 32px;
        border-radius: 100%;
        font-size: 16px;
        color: var(--color-blue-7);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }

    &--actions-menu {
      display: flex;

      :not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  &__header {
    background-color: var(--color-blue-6);
    padding: 16px;
    border-radius: 8px 8px 0 0;
    color: var(--color-gray-1);

    @media only screen and (max-width: 1023px) {
      border-radius: 0;
    }

    h5 {
      color: var(--color-gray-1);
      font-weight: 700;
    }

    p {
      font-weight: 700;
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: var(--color-blue-1);

    &--title {
      font-weight: 700;
    }

    &--sort {
      cursor: pointer;
      color: var(--color-blue-7);
    }
  }

  &__pagination {
    padding: 8px 24px;
    text-align: right;
    background-color: var(--color-gray-1);
    border-radius: 0 0 8px 8px;
    @media only screen and (max-width: 1023px) {
      border-radius: 0;
    }
  }

  &__alerts-properties {
    background-color: var(--color-gray-1);
  }
}
