.property-details-services-tag {
  padding: 16px;
  background-color: var(--color-gray-1);
  border-radius: 4px;
  min-height: 168px;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    img {
      margin-right: 8px;
    }

    &.red {
      h5 {
        color: var(--color-red-7);
      }
    }
    &.blue {
      h5 {
        color: var(--color-blue-7);
      }
    }
    &.magenta {
      h5 {
        color: var(--color-magenta-7);
      }
    }
    &.gray {
      h5 {
        color: var(--color-gray-8);
      }
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;

    &--item {
      padding: 4px 8px;
      font-size: 12px;
      font-weight: 500;
      border-radius: 4px;
      margin-bottom: 8px;
      margin-right: 8px;

      &.red {
        background-color: var(--color-red-2);
        color: var(--color-red-7);
      }
      &.blue {
        background-color: var(--color-blue-2);
        color: var(--color-blue-7);
      }
      &.magenta {
        background-color: var(--color-magenta-2);
        color: var(--color-magenta-7);
      }
      &.gray {
        background-color: var(--color-gray-2);
        color: var(--color-gray-8);
      }
    }
  }
}
