.filters-tags {
  &__tag {
    border: none;
    background-color: var(--color-blue-1);
    color: var(--color-blue-7);
    font-weight: 500;
    height: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    svg {
      path {
        fill: var(--color-blue-7);
      }
    }
  }
}
