.forgot-password-modal {
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__image {
    max-height: 338px;
  }

  &__header {
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
    }
  }

  &__form {
    margin-top: 24px;
  }

  &__footer {
    text-align: center;
  }
}
