.property-details-recommendations {
  padding: 16px;
  background-color: var(--color-gray-1);
  border-radius: 4px;

  p {
    margin-bottom: 16px;
  }

  &__filters {
    display: flex;
    column-gap: 8px;
    margin-bottom: 16px;

    @media only screen and (max-width: 1023px) {
      flex-wrap: wrap;
      row-gap: 8px;
    }

    &--button {
      height: 32px;
      font-size: 14px;
      width: auto;

      &.selected {
        color: var(--color-gray-1);
        background-color: var(--color-gray-9);
      }
    }
  }

  &__recommendations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;

    > * {
      min-width: 0;
    }

    @media only screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }

  &__property-card {
    @media only screen and (max-width: 1200px) {
      &--even {
        justify-self: start;
      }

      &--odd {
        justify-self: end;
      }
    }

    @media only screen and (min-width: 1024px) {
      max-width: 356px;
    }
  }
}
