.on-guard-employee-contact {
  &__on-guard-employee {
    &--whatsapp-button {
      width: 100%;
      cursor: pointer;
      background-color: #25d366;
      color: var(--color-gray-1);
      height: 40px;
      border: none;
      font-weight: 500;
      border-radius: 4px;
      margin-top: 16px;
      transition: all 0.3s ease-in;

      &:hover {
        background-color: #29f073;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__legend {
    margin: 12px 0 12px;
    text-align: center;
    color: var(--color-blue-8);
  }
}
