.property-details-checkbox {
  padding: 16px;
  background-color: var(--color-gray-1);
  border-radius: 4px;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    h5 {
      margin-left: 8px;
    }
  }

  &__tags {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
