.home-map {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 12px 48px;
  background-color: var(--color-gray-1);

  h3 {
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;

    b {
      color: var(--color-blue-7);
    }
  }

  &__tag {
    text-transform: uppercase;
    color: var(--color-blue-7);
    font-weight: 500;
    padding: 8px 16px;
    background-color: var(--color-blue-1);
    border-radius: 4px;
    margin-bottom: 16px;
  }

  &__description {
    text-align: center;
    font-weight: 500;
    color: var(--color-gray-8);
    margin-bottom: 48px;
  }

  &__content {
    display: flex;

    @media only screen and (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__guide {
    margin-left: 24px;

    @media only screen and (max-width: 1023px) {
      margin-left: 0px;
      margin-top: 24px;
    }

    &--header {
      font-weight: 500 !important;
      text-align: left !important;
    }

    &--card {
      display: flex;
      margin-bottom: 24px;

      img {
        margin-right: 8px;
      }

      &---title {
        font-weight: 700;

        b {
          color: var(--color-blue-7);
        }
      }
    }
  }

  &__map {
    position: relative;

    &--image {
      max-width: calc(100vw - 32px);
    }

    &--property-icon {
      position: absolute;
      top: 217px;
      left: 170px;
    }

    &--property-card {
      position: absolute;
      top: 125px;
      left: 40px;
      box-shadow: 0px 8.832px 14.72px rgba(0, 0, 0, 0.3);
      border-radius: 5.888px;
      background-color: var(--color-gray-1);
      display: flex;
      padding: 5px;
      max-width: 300px;

      small {
        text-transform: uppercase;
        color: var(--color-blue-7);
        margin-bottom: 8px;
      }

      img {
        margin-right: 16px;
        height: 70px;
        width: 75px;
        border-radius: 2.944px;
      }
    }
  }
}
