.profile-update {
  &__header {
    background-color: var(--color-blue-6);
    padding: 16px;
    color: var(--color-gray-1);
    border-radius: 8px 8px 0 0;

    @media only screen and (max-width: 1023px) {
      border-radius: 0;
    }

    h5 {
      color: var(--color-gray-1);
      font-weight: 700;
    }

    p {
      font-weight: 700;
    }
  }

  &__form {
    padding: 24px 16px;
    background-color: var(--color-gray-1);
    border-radius: 0 0 8px 8px;

    @media only screen and (max-width: 1023px) {
      border-radius: 0;
    }

    &--title {
      padding-bottom: 16px;
      border-bottom: 2px solid var(--color-gray-5);
      margin-bottom: 16px;

      h5 {
        font-weight: 700;
      }
    }

    &--submit {
      width: 100%;
    }
  }
}
