.on-guard-employee {
  display: flex;
  align-items: center;

  p {
    color: var(--color-gray-8);
  }

  &__avatar {
    position: relative;
    margin-right: 16px;

    .floating-icon {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }
}
