.home-categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 12px 48px;
  background-color: var(--color-gray-1);

  h3 {
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;

    b {
      color: var(--color-blue-7);
    }
  }

  &__tag {
    text-transform: uppercase;
    color: var(--color-blue-7);
    font-weight: 500;
    padding: 8px 16px;
    background-color: var(--color-blue-1);
    border-radius: 4px;
    margin-bottom: 16px;
  }

  &__description {
    text-align: center;
    font-weight: 500;
    color: var(--color-gray-8);
    margin-bottom: 48px;
  }

  &__category-card {
    text-align: center;
    cursor: pointer;

    small {
      text-transform: uppercase;
      color: var(--color-blue-7);
    }

    &--icon {
      margin-bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      border-radius: 100%;
      box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
        0px 2px 4px rgba(50, 50, 71, 0.06);
    }
  }

  &__categories {
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;

    @media only screen and (max-width: 1023px) {
      padding-bottom: 32px;
      grid-template-columns: 1fr 1fr;
      column-gap: 32px;
      row-gap: 16px;
    }
  }
}
