.profile-page {
  background-color: var(--color-gray-3);
  padding-top: 72px;

  @media only screen and (max-width: 1023px) {
    padding-top: 96px;
  }

  &__mobile-actions {
    position: fixed;
    top: 48px;
    z-index: 1000;

    @media only screen and (min-width: 1024px) {
      display: none !important;
    }
  }

  &__row {
    padding-top: 29px;
    display: flex;
    justify-content: center;
    padding-bottom: 56px;
  }

  &__resume {
    background-color: var(--color-gray-1);
    box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
      0px 2px 4px rgba(50, 50, 71, 0.06);
    border-radius: 8px;
    padding: 16px;
    margin-right: 24px;

    @media only screen and (max-width: 1199px) {
      display: none;
    }
  }

  &__column {
    max-width: 760px;

    > :not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
