.profile-newsletter {
  padding: 24px 16px;
  background-color: var(--color-gray-1);
  border-radius: 8px;

  @media only screen and (max-width: 1023px) {
    border-radius: 0;
  }

  &__title {
    padding-bottom: 16px;
    border-bottom: 2px solid var(--color-gray-5);
    margin-bottom: 16px;

    h5 {
      font-weight: 700;
    }
  }

  h6 {
    margin-bottom: 16px;
  }
}
