.property-card {
  width: 100%;
  border-radius: 8px;
  background-color: var(--color-gray-1);
  box-shadow: 0px 0px 8px rgba(24, 144, 255, 0.25);
  display: flex;
  flex-direction: column;

  &.property-card__map-card {
    box-shadow: none;
  }

  &__seen-label {
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 4px;
    background-color: var(--color-gray-1);
    color: var(--color-blue-7);
    padding: 4px;
    font-size: 12px;

    &--icon {
      margin-right: 4px;
    }
  }

  &__map-card {
    &--photo {
      img {
        border-radius: 0 !important;
      }
    }
  }

  &__actions {
    margin-top: 16px;
    position: relative;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;

    &--consult-button {
      height: 40px !important;
      position: absolute;
      right: 0;
      font-size: 16px !important;
    }
  }

  &__carousel {
    position: relative;
    height: 200px;

    &--arrow {
      background-color: var(--color-gray-1);
      border-radius: 100%;
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px;
      cursor: pointer;
    }

    &--control {
      height: 24px;
      width: 24px;
      position: absolute;
      top: 50%;
      transform: translateY((-50%));
      z-index: 100;
    }

    &--bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 8px 8px 0 0;
      box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.45);
      cursor: pointer;
    }

    &--footer {
      z-index: 10;
      padding: 8px 16px;
      color: var(--color-gray-1);
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;

      &---price {
        text-align: right;
      }

      caption {
        white-space: nowrap;
        color: var(--color-gray-1);
      }

      p {
        font-size: 16px;
      }
    }

    &--photo {
      height: 200px;
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 8px 8px 0 0;
      }
    }
  }
  &__footer {
    flex: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--title {
      cursor: pointer;
      font-weight: 700;
    }

    &--address {
      color: var(--color-gray-8);
    }

    &--property-type {
      text-transform: uppercase;
      color: var(--color-blue-8);
    }
  }
}
