.property-details-actions {
  width: 100%;
  height: 80px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  background-color: var(--color-gray-1);
  border-radius: 4px;
  justify-content: space-between;

  &__actions {
    @media only screen and (max-width: 1023px) {
      display: none;
    }

    &--button {
      display: none;

      @media only screen and (max-width: 1023px) {
        display: inline-block;
      }
    }

    width: 275px;
    display: flex;
    align-items: center;
  }
}
