.home-page {
  background-color: var(--color-gray-3);

  &__city {
    img {
      width: 100%;
      object-fit: cover;
      height: 381px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    > h1 {
      font-weight: 900;
    }

    > h1,
    > h5,
    > button {
      color: var(--color-gray-1);
      z-index: 2;
      text-align: center;
    }

    > h1 {
      margin-bottom: 32px;
    }

    > h5 {
      margin-top: 32px;
    }
  }

  &__hero {
    img {
      width: 100%;
      object-fit: cover;
      height: 50vh;
    }
  }

  &__properties-list {
    width: 100%;
    padding: 0 12px 48px;
    background-color: var(--color-gray-1);
  }
}
