.properties-list-view-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-3);
  padding-top: 72px;

  &__mobile-actions {
    position: fixed;
    top: 48px;
    z-index: 1000;

    @media only screen and (min-width: 1024px) {
      display: none !important;
    }
  }

  @media only screen and (max-width: 1023px) {
    padding-top: 96px;
  }

  &__header {
    position: relative;
    height: 344px;
    width: 100%;
    margin-bottom: 39px;
    max-width: 1152px;
    margin-top: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-10);
    border-radius: 8px;

    @media only screen and (max-width: 1023px) {
      margin-bottom: 32px;
    }

    &--share-and-like {
      width: 350px;
      display: flex;
      justify-content: space-between;
    }

    &--actions {
      padding: 0 16px;
      width: 100%;
      height: 64px;
      background-color: var(--color-gray-1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0 0 8px 8px;

      @media only screen and (max-width: 1023px) {
        border-radius: 0;
      }
    }

    &--content {
      text-align: center;
      z-index: 10;
      height: 280px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1,
      h5 {
        color: var(--color-gray-1);
      }

      h5 {
        max-width: 720px;
      }
    }

    &--background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 280px;
      z-index: 1;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
      opacity: 0.7;

      @media only screen and (max-width: 1023px) {
        border-radius: 0;
      }
    }
  }

  &__gray-button {
    border: none;
    background-color: var(--color-gray-3);
    box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
      0px 2px 4px rgba(50, 50, 71, 0.06);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray-8);
    padding: 4px 8px;
    cursor: pointer;

    @media only screen and (max-width: 1023px) {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }

    &:focus {
      outline: none;
    }
  }

  &__property-card {
    @media only screen and (max-width: 1200px) {
      &--even {
        justify-self: start;
      }

      &--odd {
        justify-self: end;
      }
    }

    @media only screen and (min-width: 1024px) {
      max-width: 368px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    margin-bottom: 46px;

    > * {
      min-width: 0;
    }

    @media only screen and (max-width: 1023px) {
      padding: 0 16px;
      margin-bottom: 16px;
    }

    @media only screen and (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }
}
